$color-primary : #eff2fa;
$color-primary-dark : #bccad1;

$color-black : #474343;
$color-black-dark : black;
$color-white : #fff;
$color-grey : #c5d0d3;
$color-grey-light : #d5dee1; 
$color-grey-lighter : #e5ecef;  
$color-grey-mid : #d5dede;    
$color-grey-dark : #6c7b7f;

$icon-biggest : 8rem;
$icon-bigger : 6rem;
$icon-big : 4rem;
$icon-medium :3.5rem;
$icon-small : 3rem; 
$icon-smaller : 2.5rem; 
$icon-smallest : 2rem; 

$lightblue : rgba(219, 246, 253, 1);
$lightorange : #f9dec7;
$lightgreen :#b1edce;
$lightpink : #f8d0dd;

$colorblue : rgb(63, 217, 255);
$colororange : #fa851e;
$colorgreen : #48c74a;
$colorpink : #f66b99;